
body{
    margin: 0;
    font-family:sans-serif;
}
.header,
.hero{
    padding: 0 150px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #1f2937;
    color:#f9faf8;
    font-size: 24px;
    height: 50px;
    font-weight: 900;

}
.links{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap:15px;
    font-size:18px;
    color:#e5e7eb;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:#e5e7eb;
}
.hero{
    background-color: #1f2937;
    color:#f9faf8;
}
.hero .title{
    font-size: 48px;
    font-weight: 800;
}
.second{
    color: #e5e7eb;
    font-size: 18px;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding-top:100px;
    padding-bottom:100px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container,
.hero img{
    height: 240px;
    width: 480px;
}
.hero .button{
    background-color: #3882f6;
    padding : 8px 25px;
    font-weight: 800;
    width:max-content;
    border-radius:7px;
    margin-top:10px;
}
.hero img{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px ;
    
}
.infos .title{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin:-50px 0 40px 0;

}
.infos .box{
    display: flex;
    justify-content: center;
    gap:15px;
}
.infos img{
    height: 190px;
    width: 190px;
    border:5px solid #3882f6;
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items:center
    /* text-align: center; */
}
.content{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.content div{
    width: 190px;
}
.quotes{
    background-color: #e5e7eb;
    font-weight: 800;
    text-align: right;
    padding:90px;
    display: flex;
    justify-content: center;
}
.square{
    width:900px
}
.text{
    font-size:36px;
    font-weight: 300 ;
    font-style: italic;
    color:#1f2937;
    text-align: left;
}